.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 110px; */
    height: 10vh;
    /* background-color: rgb(40, 38, 38); */
    background-color: rgb(255, 255, 255);
    padding: 0 6vw;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.active-link{
    color: gold;
}

.inactive-link{
    color: black;
}

.image-profile{
    width: 5vw;
    height: 10vh;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    font-size: 3.5vw;
    /* font-size: 54px; */
    /* letter-spacing: 5px; */
    letter-spacing: 0.34vw;
}

.image-logo{
    /* width: 5%;
    height: 5%; */
    width: 3.5vw;
    height: 8vh;
    /* width: 54px;
    height: 70px; */
}
